.pic{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 160px;
    border-radius: 10px;
}

.cardCont{
    text-align: center;
    font-size: 2px;

}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}